@model HayvanSahiplenme.Models.Cins

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cins</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CinsId" />
            <div class="form-group">
                <label asp-for="CinsAd" class="control-label"></label>
                <input asp-for="CinsAd" class="form-control" />
                <span asp-validation-for="CinsAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinsAdIng" class="control-label"></label>
                <input asp-for="CinsAdIng" class="form-control" />
                <span asp-validation-for="CinsAdIng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurId" class="control-label"></label>
                <select asp-for="TurId" class="form-control" asp-items="ViewBag.TurId"></select>
                <span asp-validation-for="TurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
