@model HayvanSahiplenme.Models.Cins

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cins</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CinsAd" class="control-label"></label>
                <input asp-for="CinsAd" class="form-control" />
                <span asp-validation-for="CinsAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinsAdIng" class="control-label"></label>
                <input asp-for="CinsAdIng" class="form-control" />
                <span asp-validation-for="CinsAdIng" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="HayvanId" class="control-label"></label>
                <input asp-for="HayvanId" class="form-control" />
                <span asp-validation-for="HayvanId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="HayvanId" class="control-label"></label>
                @Html.DropDownList("Turs", null, new { @id="HayvanId", @class = "form-control" })
                <span asp-validation-for="HayvanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
